<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">

        <!-- Login-->

        <activity android:name=".DeleteAccountActivity"/>
        <activity android:name=".UpdatePasswordActivity"/>
        <activity android:name=".CheckEmailActivity" />
        <activity android:name=".AccountRecoveryActivity"/>
        <activity android:name=".MainActivity" android:theme="@style/Theme.Main"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Menu-->

        <activity
            android:name=".MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- CRUD de producto -->

         <activity android:name=".EditActivity"
            android:theme="@style/Theme.FormActivity"/>
        <activity
            android:name=".VideogameDetail"
            android:theme="@style/Theme.DetailActivity" />
        <activity
            android:name=".AddActivity"
            android:theme="@style/Theme.FormActivity" />
        <activity
            android:name=".MainProducto"
            android:theme="@style/Theme.MainProducto"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- CRUD de Expediente -->

        <!-- Google Maps -->

        <activity
            android:name=".MainActivityGoogleMaps"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>


    </application>

</manifest>